/* Google-Font : inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Google-Font : Noto Serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* Navigation section starts here */
body {
  background-color: #f4f7ff;
}
.border {
  /* border: 2px dashed crimson; */
}
/* Navigation section end here */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f6f8fc;
}
.padding {
  padding-left: 90px;
  padding-right: 90px;
}
.navbar {
  display: flex;
  padding: 15px 40px;
  align-items: center;
  background-color: #f6f8fc;
  justify-content: space-between;
}
.logo img {
  height: 50px;
  /* border: 2px dashed crimson; */
  height: 82px;
  width: 135px;
}
.nav-menu {
  gap: 50px;
  display: flex;
  padding-left: 700px;
  align-items: flex-end;
}
.nav-menu a {
  color: rgb(137, 135, 161);
  font-weight: 400;
  text-decoration: none;
}
.nav-menu a.active {
  color: rgb(37, 36, 50);
  font-weight: 700;
  font-size: 16px;
}
.cart {
  gap: 8px;
  display: flex;
  align-items: center;
}
.cart img {
  width: 20px;
}
span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
/* Responsive Styling */
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .navbar {
    padding: 15px 20px;
  }

  .logo img {
    height: 40px;
  }

  .cart span {
    font-size: 14px;
  }
}

/* Banner section starts here */
.fresh-flowers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 50px;
  background-color: #f5f8ff;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  min-width: 280px;
}

.text-content h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  border: 2px dashed crimson;
  /* margin-left: 40px; */
}

.bold {
  padding-left: 40px;
  color: #000;
  font-size: 55px;
  font-weight: 700;
}

.orange {
  font-size: 65px;
  padding-left: 40px;
  color: orange;
}

.text-content p {
  padding-left: 40px;
  font-size: 16px;
  margin-top: 15px;
  color: #444;
  font-family: "Inter", sans-serif;
}

.image-content {
  flex: 1;
  min-width: 280px;
}

.image-content img {
  width: 100%;
  /* max-width: 400px; */
  height: 380px;
  width: 670px;
  border: 1px dashed crimson;
}

/* Responsive Design */
@media screen and (max-width: 576px) {
  .fresh-flowers {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
  }
  .bold,
  .orange {
    padding-left: 0px;
    font-size: 24px;
    font-weight: 700;
  }
  .text-content h1 {
    font-size: 10px;
    font-weight: 700;
    text-align: left;
  }

  .text-content p {
    font-size: 14px;
    padding-left: 0%;
    font-weight: 400;
    text-align: left;
  }

  .image-content img {
    max-width: 100%;
  }
}

/* Banner section end here */

/* Our Plants section starts here */
.plant-section {
  padding: 40px;
  background-color: #f9fbff;
  text-align: center;
  font-family: "Noto Serif", serif;
}
h2 {
  font-size: 50px;
  font-weight: 700;
}

.plant-section .highlight {
  color: orange;
  font-size: 50px;
  font-weight: 700;
}

.plant-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.plant-section .subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.plant-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.plant-card h4 {
  margin: 10px 0 5px;
  font-weight: bold;
}

.plant-card p {
  margin-bottom: 10px;
  font-weight: 600;
}

.plant-card button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plant-card button:hover {
  background-color: darkorange;
}
/* media query */
@media screen and (max-width: 768px) {
  .plant-section {
    padding: 20px;
  }
  .highlight,
  .highlight-02 {
    font-size: 28px;
    font-weight: 700;
  }
  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .plant-grid {
    grid-template-columns: 1fr;
  }
}

/* Our Plants section end here */

/* Flower & Plants Lover section starts here */
/* Base layout */
.flower-lover {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 50px 80px;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  max-width: 450px;
}

.image-container img:first-child {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: -120px;
  right: -90px;
  width: 250px;
  z-index: 10;
}
.text-content {
  max-width: 550px;
  gap: 40px;
}
.title {
  font-size: 50px;
  font-weight: 700;
}
.text-content h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  margin-bottom: 20px;
}

.text-content ul {
  padding-left: 20px;
  list-style: disc;
}

.text-content li {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Responsive for Mobile */
@media (max-width: 576px) {
  .flower-lover {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .text-content ul {
    padding-left: 15px;
    list-style-position: inside;
    text-align: left;
  }

  .text-content h2 {
    font-size: 24px;
  }

  .badge {
    display: none;
  }
}

/* Flower & Plants Lover section end here */

/* Latest Deals section starts here */
.deals-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  height: 400px;
  margin-left: 130px;
  margin-right: 130px;
}

.deal-01 {
  grid: 1;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  text-align: center;
}
.deal-02 {
  grid: 1;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  text-align: center;
  grid-row: span 2;
}
.deals-container,
.deal-03 {
  grid: 1;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  text-align: center;
}
.highlight-03 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.latest-deals {
  text-align: center;
}
.title-description-03 {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* Example background images */
.bloom {
  background-image: url("./assets/deal-bloom.png");
}
.ana {
  background-image: url("./assets/deal-ana.png");
}
.zabo {
  background-image: url("./assets/deal-zabo.png");
}

/* Mobile View */
@media screen and (max-width: 576px) {
  .deals-container {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    height: 600px;
    display: block;
    margin: 0 auto;
  }
  .title-description-03 {
    padding: 0px 20px;
  }
  .deal-01 {
    margin-bottom: 15px;
    font-size: 1em;
  }
  .deal-02 {
    margin-bottom: 15px;
    font-size: 1em;
  }
  .deal-03 {
    margin-bottom: 15px;
    font-size: 1em;
  }
}

/* Latest Deals section end here */

/* Join the colorful Bunch starts here */
.subscribe-section {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: white;
  position: relative;
}

.overlay {
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 10px;
}

.subscribe-section h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.highlight {
  color: orange;
  font-size: 28px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}
.highlight-02 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  text-align: center;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
  padding: 12px 15px;
  font-size: 1em;
  border: none;
  width: 60%;
  max-width: 400px;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.subscribe-form button {
  padding: 12px 20px;
  font-size: 1em;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.subscribe-form button:hover {
  background-color: darkorange;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .subscribe-form {
    flex-direction: column;
  }
  .highlight {
    font-size: 24px;
    font-weight: 700;
  }
  .highlight-02 {
    font-size: 24px;
    font-weight: 700;
  }
  .subscribe-form input[type="email"],
  .subscribe-form button {
    width: 100%;
    border-radius: 4px;
  }

  .subscribe-form button {
    margin-top: 10px;
  }
}

/* Join the colorful Bunch end here */

/* footer section starts here */
.footer {
  padding: 40px 20px;
  font-family: "Noto Serif", serif;
  align-items: center;
}
.footer-Description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-logo {
  flex: 1 1 250px;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 15px;
}
.footer-links {
  flex: 2 1 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-column a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.2s;
}
.link-column {
  margin-top: 120px;
}
.link-column a:hover {
  color: orange;
}

.footer-social {
  flex: 1 1 100px;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 130px;
}

.footer-social img {
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
}
.flex {
  display: flex;
  gap: 300px;
  align-items: center;
  width: 950px;
}
.footer-social img:hover {
  transform: scale(1.1);
}
/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-Description {
    font-size: 16px;
    width: 100%;
  }
  .footer-logo,
  .footer-links,
  .footer-social {
    width: 100%;
  }

  .footer-social {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .link-column {
    width: 100%;
  }
}

/* footer section end here */
